params {
    gvcfs              = 'gs://cpg-seqera-trial-test/gvcf/*.g.vcf.gz'
    outdir             = 'gs://cpg-seqera-trial-test/rbceq2'
    reference_genome   = 'GRCh38'
    rbceq2_container   = 'australia-southeast1-docker.pkg.dev/seqera-trial/images/rbceq2:2.4.1'
    bcftools_container = 'australia-southeast1-docker.pkg.dev/seqera-trial/images/nf_bcftools:1.23.1-1'
    metamist_container = 'australia-southeast1-docker.pkg.dev/seqera-trial/images/metamist:dataproc'
    cohorts            = 'COH11572,COH11598'
    use_metamist       = true
    metamist_project   = 'seqera-trial'
    min_qual           = 10
    min_depth          = 10
    output_version     = 'v1'
    output_pdfs         = true
}

// this sets workflow outputs, but is only available in a workflow with an output block defined.
// i.e. in processes it's empty. Needs checking, documentation isn't great here.
// outputDir = params.outdir


profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    local {
        process.executor                 = 'local'
        docker.enabled                   = true
        docker.runOptions                = '--platform linux/amd64'   // the arm64 workaround, scoped to local only
        params.use_metamist              = false // local uses params.gvcfs glob
        params.rbceq2_container          = 'rbceq2:2.4.1'
        params.bcftools_container        = 'staphb/bcftools:1.21'
    }
}

manifest {
    name            = 'populationgenomics/popgen_rbceq2'
    description     = 'A stripped back demo for Seqera Platform'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.04.0'
    version         = '1.0.0'
}

// Nextflow plugins. Not set up yet, add back when ready to include a nextflow_schema.json
// plugins {
//     id 'nf-schema@2.1.1'
// }

// copy workflow outputs
// workflow.output.mode = 'copy' // currently using publishDir. Probably move away from publishDir when ready.

process {
    executor = 'google-batch'
    // container = 'australia-southeast1-docker.pkg.dev/seqera-trial/images/metamist:dataproc'
}