process {
    withName: FILTER_AND_CONVERT {
        cpus = params.n_cpus
    }

    withName: RBCEQ2 {
        publishDir = [
            path: { "${params.outdir}/${params.output_version}/${meta.cohort}/${meta.id}" },
            mode: 'copy'
        ]
        ext.args = { params.output_pdfs ? '--PDFs' : '' }
    }


    withName: GATHER {
        publishDir = [
            path: { "${params.outdir}/${params.output_version}/${cohort}/combined" },
            mode: 'copy'
        ]
    }
}